/* Styling for the entire body */
body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
  }

  /* Styling for the main heading */
  h1 {
    color:hotpink;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 10px dotted purple;
  }

  /* Styling for the subheading */
  h2 {
    font-size: 1.5em;
    font-style: italic;
  }

  /* Styling for the job title */
  .job-title {
    color: #999999;
    font-weight: bold;
  }

  /* Styling for an unordered list*/
  ul {
  background-color: #eeeeee;
  border: 5px solid purple;
  padding: 25px;
  }

  /* Styling for links*/
  a:link,
  a:visited {
    color: #fb6542;
  }

  /* Hover effect for links */
  a:hover {
    color: green;
    text-decoration: none;
  }